.header {
  background-color:lightgrey;
  height:30px;
  border-right: #B5B5B5 1px solid;
}
.cell{
  float:left;
  border-right: #B5B5B5 1px solid;
  border-bottom: #B5B5B5 1px solid;
  word-break: break-all;
  box-sizing: content-box;
  padding:5px;
}
.hcell{
  border-right: #B5B5B5 1px solid;
  border-bottom: #B5B5B5 1px solid;
  box-sizing: content-box;
  padding:5px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-family: Arial, sans-serif;
  background: #737373;
  color: #EEEEEE;
  font-weight:bold;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.htcell{
  border-right: #B5B5B5 1px solid;
  border-bottom: #B5B5B5 1px solid;
  word-break: break-all;
  box-sizing: content-box;
  padding:5px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-family: Arial, sans-serif;
  background: #737373;
  color: #EEEEEE;
  font-weight:bold;
}
.tcell{
  border-right: #B5B5B5 1px solid;
  border-bottom: #B5B5B5 1px solid;
  word-break: break-all;
  box-sizing: content-box;  
  vertical-align: top;
  color:#515151;
  font-family: Arial, sans-serif;
  font-size: 8.5pt;
  font-weight:bold;
  padding: 5px;
}
.tbody_container{
  overflow: auto;
    width: 1258px;
    position: absolute;
    bottom: 0px;
    top: 30px;
    right: 0px;
}
.fbody_container{
  float: left;
  width:100%; 
  margin-top:0px;
  z-index: -1;
}
.frezzed{
  float:left;
  height:100%;
      position: relative;
    z-index: 2;
}
.main_container{
  overflow:hidden; 
  border: #B5B5B5 1px solid;
}
.fheader{
  float:left;
  z-index: 100;
  position: relative;
}
.tab_container{
  overflow:hidden;
}
.odd{
  background-color: #FDFDFD;
}
.data_table{
  table-layout: fixed;
  position: relative;
}
.rdiv{
  top: 0px;
  height: 30px;
  cursor: col-resize;
  width: 5px;
  position: absolute;
  background-color:#A8A8A8;
}
.cell_hcenter
{
  text-align: center;
}
.cell_hleft
{
  text-align: left;
}
.cell_hrigth
{
  text-align: right;
}
.cell_vtop
{
  vertical-align: top;
}
.cell_vmid
{
  vertical-align: middle;
}
.cell_vbot
{
  vertical-align: bottom;
}
.gridDirective
{
overflow: hidden;
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
 }