<div id="{{::controlId}}frezzed{{::$index}}" class="frezzed" style="width:{{::pCol.width+10}}px" ng-repeat="pCol in pinnedColumns">
  <div id="phRow{{::$index}}" class="hcell" style="width:{{::pCol.width}}px">
    {{pCol.caption}}
    <div id="fhr{{::$index}}" style="margin-left:{{pCol.width+3}}px;" class="rdiv" ng-if="pCol.sizable" style="left:{{::pCol.left}}px;"></div>
  </div>
  <table id="fct{{::$index}}" class="data_table fbody_container" cellpadding="0" cellspacing="0" border="0">
    <tr ng-class="{odd:$odd}" ng-repeat="dataRow in config.data track by $index">
      <td ng-class="{tcell:true, cell_hcenter: (pCol.halign=='center'),cell_hleft: (pCol.halign=='left'), cell_vtop: (pCol.valign=='top'), cell_hrigth: (pCol.halign=='right'), cell_vmid: (pCol.valign=='middle'), cell_vbot: (pCol.valign=='bottom')}" >
        <cell-template column="pCol" data="dataRow"></cell-template>
      </td>
    </tr>
  </table>
</div>
<div id="{{::controlId}}tab_container" class="tab_container">
  <table id="{{::controlId}}theader" class="header data_table" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td id="hRow{{::$index}}" class="hcell" style="width:{{::colH.width}}px" ng-repeat="colH in gridColumnsHeaders">{{::colH.caption}}
        <div id="thr{{::$index}}" class="rdiv" style="margin-left:{{colH.width+3}}px;" ng-if="colH.sizable"></div>
      </td>
    </tr>
  </table>
  <div id="{{::controlId}}tbody_container" class="tbody_container">
    <table id="{{::controlId}}table" cellpadding="0" cellspacing="0" border="0" class="data_table" style="margin-top: 1px;" >
      <tr id="{{::controlId}}row{{::$index}}" ng-class="{odd:$odd}" ng-repeat="dataRow in config.data track by $index">
        <td ng-class="{tcell:true, cell_hcenter: (colHdr.halign=='center'),cell_hleft: (colHdr.halign=='left'), cell_vtop: (colHdr.valign=='top'), cell_hrigth: (colHdr.halign=='right'), cell_vmid: (colHdr.valign=='middle'), cell_vbot: (colHdr.valign=='bottom')}" 
            style="width:{{::colHdr.width}}px" 
            ng-repeat="colHdr in gridColumnsHeaders">
            <cell-template column="colHdr" data="dataRow"></cell-template>
        </td> 
      </tr>
    </table>
  </div>
</div>