<div class="mesCont">
  <div class="mesHeader"> <!-- header -->
    <table cellpadding="0" cellspacing="0" border="0px" style="color:#EEEEEE">
      <tr>
        <td rowspan="3" style="width:60px; height:60px;">
        <td style="width:65px;" class="tdParam">Дата</td>
        <td style="width:150px;" class="tdValue">01-10-2016</td>
        <td class="tdParam">Текст</td>
        <td style="width:350px;" class="tdValue"></td>
      </tr>
      <tr>
        <td class="tdParam">Среда</td>
        <td class="tdValue">Test</td>
        <td class="tdParam">Доп. информация</td>
        <td class="tdValue"></td>
      </tr>
      <tr>
        <td class="tdParam">Источник</td>
        <td class="tdValue">33</td>
        <td class="tdParam">Метод</td>
        <td class="tdValue"></td>
      </tr>
    </table>
  </div>
  <div class="mesBCont">
    <div class="mesPane"> <!-- left pane -->
      <ul class="ulParam">
        <li><div>AccountNumber</div></li>
        <li><div>PolicyNumber</div></li>
        <li><div>Request</div></li>
        <li><div>Response</div></li>
        <li><div>XML</div></li>
        <li><div>InputParam</div></li>
      </ul>
    </div>
    <div class="mesBody"> <!-- main pane -->
    </div>
  </div>
</div>